@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Open Sans';
}

body {

}

h2 {
    @apply mb-10 text-3xl font-medium tracking-tight text-blue-dark-900 dark:text-white lg:leading-snug;
}

.scroll {
    @apply overflow-auto;
}

.scroll::-webkit-scrollbar {
    @apply w-[10px];
}

.scroll::-webkit-scrollbar-track {
    @apply rounded bg-primary-100;
}

.scroll::-webkit-scrollbar-thumb {
    @apply bg-primary rounded;
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.function {
    @apply text-fuchsia-500;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.operator,
.token.pseudo-class,
.token.important {
    @apply text-cyan-500;
}

.token.attr-value,
.token.class,
.token.string,
.token.number,
.token.unit,
.token.color {
    @apply text-blue-500;
}

.token.module {
    @apply text-cyan-400;
}

.token.punctuation,
.token.property {
    @apply text-slate-500;
}

.token.atapply .token:not(.rule):not(.important) {
    color: inherit;
}

.language-shell .token:not(.comment) {
    color: inherit;
}

.language-css .token.function {
    color: inherit;
}

.token.comment {
    @apply text-gray-500;
}

.token.deleted:not(.prefix) {
    @apply relative block -mx-4 px-4;
}

.token.deleted:not(.prefix)::after {
    content: "";
    @apply pointer-events-none absolute inset-0 block bg-rose-400 bg-opacity-25;
}

.token.deleted.prefix {
    @apply text-gray-400 select-none;
}

.token.inserted:not(.prefix) {
    @apply block bg-emerald-700 bg-opacity-50 -mx-4 px-4;
}

.token.inserted.prefix {
    @apply text-emerald-200 text-opacity-75 select-none;
}

.refractor-marker {
    @apply bg-sky-300/10;
}

.swiper-wrapper .swiper-slide {
    height: auto;
}

.prose table {
    @apply w-auto;
    th, td {
        @apply align-middle;
    }
}

.prose table tr:nth-child(even) {
    @apply bg-gray-50 dark:bg-gray-800;
}

.section {
    @apply py-20;
}

.border-animate {
    @apply relative;
    background: #F9F9F9;
    border: 1px solid transparent;
}

.border-animate::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 1;
    background-color: #0C65AF;
    clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 50%);
    animation: border 5s linear forwards;
    @apply rounded-lg;
}

@keyframes border
{
    0%
    {
        clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 50%);
    }
    12.5%
    {
        clip-path: polygon(50% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 50% 50%, 50% 50%);
    }
    25%
    {
        clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 50%);
    }
    37.5%
    {
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%);
    }
    50%
    {
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 50%, 50% 50%);
    }
    62.5%
    {
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%, 0 100%, 50% 50%, 50% 50%);
    }
    75%
    {
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 50%, 0 50%, 50% 50%, 50% 50%);
    }
    87.5%
    {
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0, 0 0, 50% 50%, 50% 50%);
    }
    100%
    {
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0, 50% 0, 50% 50%, 50% 50%);
    }
}

.bg-elipses {
    @apply bg-repeat bg-top;
    background-image: url(/img/bg.svg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top ;
}

.dashed {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%230C65AF' stroke-width='4' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 30px;
}

.dashed-gray {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23D7D3D3' stroke-width='4' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 30px;
}